@model List<CountryDto>
@{
    ViewData["Title"] = "کشور ها";
}
@section Styles{
    <link href="~/assets/vendors/datatables.net-bs5/datatables.bootstrap5.css" rel="stylesheet" />
}
<div class="col-md-6">
    <a class="btn btn-outline-primary" onclick="CreateCountry()">
        افزودن
    </a>
    <div id="dataTableExample_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
        <table class="table table-bordered data-table data-table-export dataTable dtr-inline collapsed" id="DataTables_Table_1" role="grid" aria-describedby="DataTables_Table_1_info" >

            <thead>
            <tr>
                <th>شناسه</th>
                <th>نام کشور</th>
                <th>عملیات</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>
                            <a class="btn btn-outline-warning" onclick="EditCountry(@item.Id)">
                                ویرایش
                            </a> &nbsp;
                            <a class="btn btn-outline-danger" onclick="DeleteCountry(@item.Id)">
                                حذف
                            </a> &nbsp;
                            <a class="btn btn-outline-dark" asp-controller="Province" asp-action="Index" asp-route-countryId="@item.Id">
                                نمایش استان ها
                            </a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
    </div>
</div>
@section Scripts {
    <script src="~/assets/vendors/datatables.net/jquery.datatables.js"></script>
    <script src="~/assets/vendors/datatables.net-bs5/datatables.bootstrap5.js"></script>
    <script>

    </script>
}